#content {
  background-color: rgb(69, 135, 157);
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 1fr 10vh;
}
header {
  background-color: rgb(30, 58, 49);
  grid-area: 1/1/2/-1;
  display: grid;
  gap: 20px;
  grid-auto-flow: column;
  justify-content: center;
  align-content: end;
}
main {
  background-color: rgb(104, 52, 52);
  background-image: url("../media/restaurant-interior.jpg");
  /*!<a href="https://www.freepik.com/free-photo/restaurant-interior_1
  243337.htm#query=restaurant&position=19&from_view=search&track=sph">
  Image by evening_tao</a> on Freepik */
  background-size: 150vh;
  grid-area: 2/1/-2/-1;
  display: grid;
  /* justify-content: center;  */
  justify-items: center;
  align-items: center;
}
footer {
  grid-area: -2/1/-1/-1;
  background-color: rgb(201, 34, 34);
}
#innerBlock {
  width: 70%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 3fr 3fr 2fr;
  gap: 10px;
}
#innerBlock > div {
  display: grid;
  /* background-color: azure; */
  justify-self: center;
  align-self: center;
  width: 60%;
  height: 70%;
  border-radius: 50px;
  justify-content: center;
}
button {
  width: 4rem;
  height: 2rem;
}
#home {
  background-color: blue;
}
.menuBox {
  background-color: rgb(179, 18, 18);
}
.boxes {
  backdrop-filter: blur(10px);
  color: white;
  font-size: 8px;
  font-weight: 700;
}
.contactBoxes {
  background-color: yellow;
}
