#content {
  background-color: rgb(69, 135, 157);
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr 1fr;
}
header {
  background-color: rgb(30, 58, 49);
  grid-area: 1/1/2/-1;
}
main {
  background-color: rgb(104, 52, 52);
  grid-area: 2/1/-2/-1;
  display: grid;
  /* justify-content: center; */
  justify-items: center;
  align-items: center;
}
footer {
  grid-area: -2/1/-1/-1;
  background-color: rgb(201, 34, 34);
}
#innerBlock {
  background-color: rgb(10, 11, 11);
  width: 70%;
  height: 80%;
  display: grid;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  gap: 20px;
  /* justify-content: center; */
  /* align-items: center; */
}
#block1 {
  display: grid;
  /* justify-self: center; */
  background-color: lawngreen;
  width: 1fr;
  height: 1fr;
  /* height: 100%; */
}
#block2 {
  background-color: brown;
  width: 1fr;
}
#block3 {
  background-color: cadetblue;
  width: 1fr;
}
#block4 {
  background-color: darkcyan;
  width: 1fr;
}
#innerBlock > div {
  display: grid;
  justify-self: center;
  align-self: center;
  width: 50%;
  height: 40%;
}
