#content {
  background-color: rgb(69, 135, 157);
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 1fr 10vh;
}
header {
  background-color: rgb(30, 58, 49);
  grid-area: 1/1/2/-1;
  display: grid;
  gap: 20px;
  grid-auto-flow: column;
  justify-content: center;
  align-content: end;
}
main {
  background-color: rgb(104, 52, 52);
  grid-area: 2/1/-2/-1;
  display: grid;
  /* justify-content: center; */
  justify-items: center;
  align-items: center;
}
footer {
  grid-area: -2/1/-1/-1;
  background-color: rgb(201, 34, 34);
}
#innerBlock {
  background-color: rgb(10, 11, 11);
  width: 70%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(4, 100px);
  gap: 20px;
}
#innerBlock > div {
  display: grid;
  /* background-color: azure; */
  justify-self: center;
  align-self: center;
  width: 50%;
  height: 40%;
}
button {
  width: 4rem;
  height: 2rem;
}
#home {
  background-color: blue;
}
.menuBox {
  background-color: rgb(179, 18, 18);
}
.boxes {
  background-color: blue;
}
.contactBoxes {
  background-color: yellow;
}
